@font-face {
    font-family: Road;
    src: url(fonts/Road_Rage.otf);
}
@font-face {
    font-family: slowdex;
    src: url(fonts/Slowdex.otf);
}
@font-face {
    font-family: potato;
    src: url(fonts/Super\ Potato\ Personal\ Use.ttf);
}
@font-face {
    font-family: caramel;
    src: url(fonts/Caramel.otf);
}

.manga{
    color: red;
    width: 49vw;
    margin-left: 10vw;
}
.mangah{
   color: red;
   text-align: center;
   font-size: 1.7vw;
   width: 55vw;
   text-align:  center; 
font-family: Road;
background: linear-gradient(rgb(255, 0, 0), orange, yellow );
-webkit-text-fill-color: transparent;
background-clip: text;
   
}
.categ{
  top: 18.3vw;
    margin-top: 5vw;
    margin-right: 1.8vw;
    margin-left: 4.5vw;
    color: white;
    display: inline;
    font-size: 2vw;
    text-align: center;
    font-family: sans-serif;
    font-size: 2.6vw;
    color: white;
    

}
.trend{
margin-top: 9.5vw;
margin-right: 46vw;
margin-left: 13.9vw;
    color: white;
    font-size: 2.1vw;
    display: contents;
    font-family: sans-serif;

}
.trends{
margin-top: 5.1vw;
margin-left:19.7vw;
}
.categories{
  margin-top: -8.7vw;
    height: 8vw;
    float: left;
    width: 10vw;
   padding: 1%;
   padding-bottom: 45vw;
    padding-left: 0.2vw;
    padding-right:7.3vw;
    margin-right: 0.02vw;
    background-color: maroon;
    border-radius: 0.02vw;
    background: linear-gradient(rgb(48, 2, 2), rgb(218, 52, 10), rgb(224, 221, 4) );
    position: fixed;
    max-width: 100%;
    max-height: 100%;

}

.action{
      margin-top: 6vw;
      margin-left: .75vw;
      padding-top: 0.8vw;
      padding-bottom: 0.8vw;
      padding-right: 10vw;
      border-radius: 1vw;
      cursor: pointer;
      border-style: solid;
      border-width: 0.1vw;
      border-color: rgb(209, 112, 0);
      font-weight: bold;
      color: black;
      background-color: rgb(255, 255, 255); 
      transition: .3s;
      font-size: 1.2vw;
      font-family: Arial;
      text-decoration: none;
      display: block;
}

.action:hover {
    background-color: rgb(230, 138, 2);
    border-color: rgb(221, 224, 0);
    color: black;
}
.link-action{
 text-decoration: none;
 display: block;
}
.link-action:visited{
    color: black;
    display: block;
}
.comedy{
  margin-top: 2vw;
  margin-left: .75vw;
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
  padding-right: 9vw;
  border-radius: 1vw;
  cursor: pointer;
  border-style: solid;
  border-width: 0.1vw;
  border-color: rgb(209, 112, 0);
  font-weight: bold;
  color: black;
  background-color: rgb(255, 255, 255); 
  transition: .3s;
  font-size: 1.2vw;
  font-family: Arial;
  text-decoration: none;
  display: block;
}

.comedy:hover {
background-color: rgb(230, 138, 2);
border-color: rgb(221, 224, 0);
color: black;
}
.link-comedy{
text-decoration: none;
display: block;
}
.link-comedy:visited{
color: black;
display: block;
}

.adventure{
  margin-top: 2vw;
  margin-left: .75vw;
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
  padding-right: 8vw;
  border-radius: 1vw;
  border-width: 0.1vw;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(209, 112, 0);
    font-weight: bold;
    color: black;
    background-color:white; 
    transition: .3s;
    font-size: 1.2vw; 
    text-decoration: none;
    
}
.adventure:hover {
    background-color: rgb(230, 138, 2);
    border-color: rgb(221, 224, 0);
    color: black;
}

.link-adventure{
    text-decoration: none;
    display: block;
   }
   .link-adventure:visited{
       color: black;
       display: block;
   }
.suspense{
  margin-top: 2vw;
  margin-left: .75vw;
  padding-top: 0.9vw;
  padding-bottom: 0.8vw;
  padding-right: 8vw;
  border-radius: 1vw;
  border-width: 0.1vw;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(209, 112, 0);
    font-weight: bold;
    color: black;
    background-color: white; 
    transition: .3s;
    font-size: 1.2vw; 
   
}
.suspense:hover {
    background-color: rgb(230, 138, 2);
    border-color: rgb(221, 224, 0);
    color: black;
}

.link-suspense{
    text-decoration: none;
    display: block;
   }
   .link-suspense:visited{
       color: black;
       display: block;
   }
.sports {
  margin-top: 2vw;
  margin-left: .75vw;
  padding-top: 0.9vw;
  padding-bottom: 0.8vw;
  padding-right: 10vw;
  border-radius: 1vw;
  border-width: 0.1vw;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(209, 112, 0);
    font-weight: bold;
    color: black;
    background-color: white; 
    transition: .3s;
    font-size: 1.2vw; 
    
}
.sports:hover {
    background-color: rgb(230, 138, 2);
    border-color: rgb(221, 224, 0);
    color: black;
    
}
.flip-box {
    margin-left:19.7vw;
    background-color: transparent;
    width:  11.9vw;
    height: 16.1vw;
    border-width: 2px solid #f1f1f1;
    border-color: gray;
    margin-top: 0.1vw;
    display: inline-block;
    perspective: 73vw;
    box-shadow: 0 0  6px rgba(255, 51, 0, 0.952);
  }

  
  .flip-box-inner {
    position: relative;
   
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    width:  11.9vw;
    height: 16.1vw;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
   
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width:  11.9vw;
    height: 16.1vw;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;

  }
  .flip-box-back {
    background-color: rgb(247, 157, 11);
    color: white;
    transform: rotateY(180deg);
  }
  .onepiece-img{
    width:  11.9vw;
    height: 16.1vw;
  }
  .onepiece-back{
    width:  11.9vw;
    height: 16.1vw;
    object-fit: cover;
    margin-bottom: -3.6vw;
  }



  .flip-box-bluelock {
    margin-left:5.49vw;
    background-color: transparent;
    width:  11.9vw;
    height: 16.1vw;
    border-width: 2px solid #f1f1f1;
    border-color: gray;
    margin-top: 0.1vw;
    display: inline-block;
    perspective: 73vw;
    box-shadow: 0 0  6px rgba(7, 156, 243, 0.952);
  }
  
  .flip-box-inner-bluelock {
    position: relative;
   
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    width:  11.9vw;
    height: 16.1vw;
  }
  
  .flip-box-bluelock:hover .flip-box-inner-bluelock {
    transform: rotateY(180deg);
   
  }
  
  .flip-box-front-bluelock, .flip-box-back-bluelock {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

  }
  
  .flip-box-front-bluelock {
    background-color: #bbb;
    color: black;

  }
  .flip-box-back-bluelock {
    background-color: rgb(247, 157, 11);
    color: white;
    transform: rotateY(180deg);
  }

 
  .bluelock-img{
    width:  11.9vw;
    height: 16.1vw;
  }
  .bluelock-back{
    width:  11.9vw;
    height: 16.1vw;
    object-fit: cover;
    margin-bottom: -3.6vw;
  }


  .flip-box-opm {
    margin-left:5.49vw;
    background-color: transparent;
    width:  11.9vw;
    height: 16.1vw;
    border-width: 2px solid #f1f1f1;
    border-color: gray;
    margin-top: 0.1vw;
    display: inline-block;
    perspective: 73vw;
    box-shadow: 0 0  6px rgba(131, 103, 10, 0.952);
  }
  
  .flip-box-inner-opm {
    position: relative;
   
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    width:  11.9vw;
    height: 16.1vw;
  }
  
  .flip-box-opm:hover .flip-box-inner-opm {
    transform: rotateY(180deg);
   
  }
  
  .flip-box-front-opm, .flip-box-back-opm {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

  }
  
  .flip-box-front-opm {
    background-color: #bbb;
    color: black;

  }
  .flip-box-back-opm {
    background-color: rgb(247, 157, 11);
    color: white;
    transform: rotateY(180deg);
  }

 
  .opm-img{
    width:  11.9vw;
    height: 16.1vw;
  }

  .opm-back{
    width:  11.9vw;
    height: 16.1vw;
    object-fit: cover;
    margin-bottom: -3.6vw;
  }

  .flip-box-csm {
    margin-left:5.49vw;
    background-color: transparent;
    width:  11.9vw;
    height: 16.1vw;
    border-width: 2px solid #f1f1f1;
    border-color: gray;
    margin-top: 0.1vw;
    display: inline-block;
    perspective: 73vw;
    box-shadow: 0 0  6px rgba(255, 51, 0, 0.952);
  }
  
  .flip-box-inner-csm {
    position: relative;
   
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    width:  11.9vw;
    height: 16.1vw;
  }
  
  .flip-box-csm:hover .flip-box-inner-csm {
    transform: rotateY(180deg);
   
  }
  
  .flip-box-front-csm, .flip-box-back-csm {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

  }
  
  .flip-box-front-csm {
    background-color: #bbb;
    color: black;

  }
  .flip-box-back-csm {
    background-color: rgb(247, 157, 11);
    color: white;
    transform: rotateY(180deg);
  }

 
  .csm-img{
    width:  11.9vw;
    height: 16.1vw;
  }

  .csm-back{
    width:  11.9vw;
    height: 16.1vw;
    object-fit: cover;
    margin-bottom: -3.6vw;
  }
  .buttons-1{
    max-width: 105vw;
    max-height: 1.4vw;
    max-width: 100%;
    max-height: 100%;
    margin-top: 0.3vw;
    margin-bottom: 2.5vw;
    margin-left:19.7vw;

    
    }

.onepiece-button{

    width: 11.9vw;
    height: 2.3vw; 
    color: black;
    border-style: solid;
    border-radius: 0.5vw;
    border-width: 0.14vw;
    font-size: 1.17vw;
    font-weight: bold;
    cursor: pointer;
    padding-top: 0.14vw;
    transition:.3s;
    background-color: rgb(255 91 0);
}
.onepiece-button:hover{
  opacity: 0.6;
}
        
         .bluelock-button{
   margin-left: 5.49vw;
   width: 11.9vw;
   height: 2.3vw; 
   color: black;
   border-style: solid;
   border-radius: 0.5vw;
   border-width: 0.14vw;
   font-size: 1.17vw;
   font-weight: bold;
   cursor: pointer;
   padding-top: 0.14vw;
    transition:.3s;    
    background-color: rgb(0, 119, 255);
  }
        .bluelock-button:hover{
            opacity: 0.6;
          }
        .opm-button{
          margin-left: 5.49vw;
          width: 11.9vw;
          height: 2.3vw; 
          color: black;
          border-style: solid;
          border-radius: 0.5vw;
          border-width: 0.14vw;
          font-size: 1.17vw;
          font-weight: bold;
          cursor: pointer;
          padding-top: 0.14vw;
            transition:.3s; 
            background-color: rgb(165, 150, 17);
           
        }
        .opm-button:hover{
            opacity: 0.6;
          }
        .csm-button{
          margin-left: 5.49vw;
          width: 11.9vw;
          height: 2.3vw; 
          color: black;
          border-style: solid;
          border-radius: 0.5vw;
          border-width: 0.14vw;
          font-size: 1.17vw;
          font-weight: bold;
          cursor: pointer;
          padding-top: 0.14vw;
            transition:.3s; 
            background-color: rgb(124, 14, 14);
        }
        .csm-button:hover{
            opacity: 0.6;
          }



.flip-box-jjk {
  margin-left:19.7vw;
  background-color: transparent;
  width:  11.9vw;
  height: 16.1vw;
  border-width: 2px solid #f1f1f1;
  border-color: gray;
  margin-top: 0.1vw;
  display: inline-block;
  perspective: 73vw;
  box-shadow: 0 0  6px rgba(243, 61, 116, 0.952);
}

.flip-box-inner-jjk {
  position: relative;
   
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  width:  11.9vw;
  height: 16.1vw;
}

.flip-box-jjk:hover .flip-box-inner-jjk {
  transform: rotateY(180deg);
 
}

.flip-box-front-jjk, .flip-box-back-jjk {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front-jjk {
  background-color: #bbb;
  color: black;
}
.flip-box-back-jjk {
  background-color: rgb(247, 157, 11);
  color: white;
  transform: rotateY(180deg);
}

.jjk-img{
  width:  11.9vw;
  height: 16.1vw;
}
.jjk-back{
  width:  11.9vw;
  height: 16.1vw;
  object-fit: cover;
  margin-bottom: -3.6vw;
}



.flip-box-solo {
  margin-left:5.49vw;
  background-color: transparent;
  width:  11.9vw;
  height: 16.1vw;
  border-width: 2px solid #f1f1f1;
  border-color: gray;
  margin-top: 0.1vw;
  display: inline-block;
  perspective: 73vw;
  box-shadow: 0 0  6px rgba(136, 4, 189, 0.952);
}

.flip-box-inner-solo {
  position: relative;
   
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  width:  11.9vw;
  height: 16.1vw;
}

.flip-box-solo:hover .flip-box-inner-solo {
  transform: rotateY(180deg);
 
}

.flip-box-front-solo, .flip-box-back-solo {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front-solo {
  background-color: #bbb;
  color: black;
}
.flip-box-back-solo {
  background-color: rgb(247, 157, 11);
  color: white;
  transform: rotateY(180deg);
}

.solo-img{
  width:  11.9vw;
  height: 16.1vw;
}

.solo-back{
  width:  11.9vw;
  height: 16.1vw;
  object-fit: cover;
  margin-bottom: -3.6vw;
}

.flip-box-mashle {
  margin-left:5.49vw;
  background-color: transparent;
  width:  11.9vw;
  height: 16.1vw;
  border-width: 2px solid #f1f1f1;
  border-color: gray;
  margin-top: 0.1vw;
  display: inline-block;
  perspective: 73vw;
   box-shadow: 0 0  6px rgba(156, 158, 6, 0.952);
 }
 
 .flip-box-inner-mashle {
  position: relative;
   
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  width:  11.9vw;
  height: 16.1vw;
 }
 
 .flip-box-mashle:hover .flip-box-inner-mashle {
   transform: rotateY(180deg);
  
 }
 
 .flip-box-front-mashle, .flip-box-back-mashle {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
 }
 
 .flip-box-front-mashle {
   background-color: #bbb;
   color: black;
 }
 .flip-box-back-mashle {
   background-color: rgb(247, 157, 11);
   color: white;
   transform: rotateY(180deg);
 }
 
 .mashle-img{
  width:  11.9vw;
  height: 16.1vw;
 }
 .mashle-back{
  width:  11.9vw;
  height: 16.1vw;
  object-fit: cover;
  margin-bottom: -3.6vw;
}


 .flip-box-naruto {
  
  margin-left:5.49vw;
  background-color: transparent;
  width:  11.9vw;
  height: 16.1vw;
  border-width: 2px solid #f1f1f1;
  border-color: gray;
  margin-top: 0.1vw;
  display: inline-block;
  perspective: 73vw;
   box-shadow: 0 0  6px rgba(255, 175, 1, 0.952);
 }
 
 .flip-box-inner-naruto {
  position: relative;
   
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  width:  11.9vw;
  height: 16.1vw;
 }
 
 .flip-box-naruto:hover .flip-box-inner-naruto {
   transform: rotateY(180deg);
  
 }
 
 .flip-box-front-naruto, .flip-box-back-naruto {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
 }
 
 .flip-box-front-naruto {
   background-color: #bbb;
   color: black;
 }
 .flip-box-back-naruto {
   background-color: rgb(247, 157, 11);
   color: white;
   transform: rotateY(180deg);
 }
 
 .naruto-img{
  width:  11.9vw;
  height: 16.1vw;
 }
 .naruto-back{
  width:  11.9vw;
  height: 16.1vw;
  object-fit: cover;
  margin-bottom: -3.6vw;
}




.buttons-2{
  width: 105vw;
  height: 1.4vw;
  margin-top: 0.3vw;
  margin-left:19.7vw;
  max-height: 100%;
  max-width: 100%;
}
.jjk-button{

  
  width: 11.9vw;
  height: 2.3vw; 
  color: black;
  border-style: solid;
  border-radius: 0.5vw;
  border-width: 0.14vw;
  font-size: 1.17vw;
  font-weight: bold;
  cursor: pointer;
  padding-top: 0.14vw;
        transition:.3s;
        background-color: rgb(250, 53, 70);

    }
    .jjk-button:hover{
        opacity: 0.6;
      }
    .solo-button{
      margin-left: 5.49vw;
      width: 11.9vw;
      height: 2.3vw; 
      color: black;
      border-style: solid;
      border-radius: 0.5vw;
      border-width: 0.14vw;
      font-size: 1.17vw;
      font-weight: bold;
      cursor: pointer;
      padding-top: 0.14vw;
        transition:.3s;    
        background-color: rgb(102, 25, 138);
    }
    .solo-button:hover{
        opacity: 0.6;
      }
    .mashle-button{
      margin-left: 5.49vw;
      width: 11.9vw;
      height: 2.8vw; 
      color: black;
      border-style: solid;
      border-radius: 0.5vw;
      border-width: 0.14vw;
      font-size: 1.17vw;
      font-weight: bold;
      cursor: pointer;
      padding-top: 0.14vw;
        transition:.3s; 
        background-color: rgb(110, 112, 4);
       
    }
    .mashle-button:hover{
        opacity: 0.6;
      }
    .naruto-button{
      margin-left: 5.49vw;
      width: 11.9vw;
      height: 2.3vw; 
      color: black;
      border-style: solid;
      border-radius: 0.5vw;
      border-width: 0.14vw;
      font-size: 1.17vw;
      font-weight: bold;
      cursor: pointer;
      padding-top: 0.14vw;
        transition:.3s; 
        background-color: rgb(250, 164, 5);
    }
    .naruto-button:hover{
        opacity: 0.6;
      }




